*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/

# Built application files
*.apk
*.aab
*.ap_
*.aar

# Files for the ART/Dalvik VM
*.dex

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/
